#mainNav{
  background-color: transparent;
}

h4, h5, h6,
h1, h2, h3 {margin-top: 0;}

ul, ol {margin: 0;}

p {margin: 0;}

html, body{
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
  background: #FFf;
}

body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

hr{
  color: #2d9c89;
  display: block;
  margin-top:0em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  width: 10em;
}

.header{
  background-color: white;
  position: relative;
  background-attachment: fixed;
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height:900px;
  text-align: center;
}

.header h1{
	color: #1a2733;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 400;
  margin-top: -4em;
  letter-spacing: 10px;
  margin-bottom:20px;
}

.header h2{
	color: #1a2733;
  text-transform: uppercase;
  font-size:2em;
  font-weight: 400;
  letter-spacing: 10px;
}

.header p{
  color: #1a2733;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  width: 66%;
  margin: 3em auto 0;
}

.img-tech {
  max-width: 120px;
}
.laravel-img {
  max-width: 215px; 
}
.firebase-img {
  margin-left: 35px;
  max-width: 215px;
}
.wordpress-img {
  margin-left: 60px;
  margin-top: 5px;
  max-width: 60px;
}
.pre-css-img {
  margin-top: 20px;
  max-width: 300px;
}



/********************************************
* ARROW-HEADER                              *
*********************************************
*/
.arrowCta {
  display: block;
  height: 22px;
  width: 22px;
  border: 11px solid transparent;
  transform: rotate(45deg);
  position: relative;
  margin: 25% 50%;
}

.arrowCta:after,
.arrowCta:before {
  content: "";
  display: block;
  height: inherit;
  width: inherit;
  position: absolute;
}

.arrowCta:after {
  border-bottom: 2px solid #1a2733;
  border-right: 2px solid #1a2733;
  top: 0;
  left: 0;
  opacity: 1;
  animation: bottom-arrow 1.65s infinite;
}

@keyframes bottom-arrow {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    transform: translate(12px, 12px);
  }
  46% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }
  90% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
}

.arrowCta:before {
  top: 0;
  left: 0;
  border-bottom: 2px solid #1a2733;
  border-right: 2px solid #1a2733;
  animation: top-arrow 1.65s infinite;
}

@keyframes top-arrow {
  0% {
    transform: translate(-6px, -6px);
  }
  35% {
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/***********FIN FLECHA *****/

/********************************
*           ABOUT ME            *
*********************************/
.content-light{
  padding:8em 0;
  text-align:center;
} 

.tz-title-3{
  display: block;
  color: #3c3c3c;
  font-size: 35px;
  font-weight:800;
  line-height: 24px;
  margin: 0;
  padding: 24px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.content-light img{
	display:inline-block;
}

.content-light p{
  color: #555;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 100%;
  margin: 0 auto 3em auto;
  text-align: center;
  font-weight: 400;
}
.content-dark p{
  color: #555;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
}

.content-dark {
  padding: 8em 0;
	background:#f6f6f6;
}

.content-dark_bottom h4 {
  color: #555;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 50%;
  margin: 0 auto 3em auto;
  text-align: center;
  font-weight: 400;
}

.content-dark_bottom{
  padding:8em 0 0 0;
}

.swiper-container {
    width: 100%;
    height: 400px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.lc-to-top {
  position: fixed;
  bottom: -100%;
  right: 30px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 44px;
  font-size: 27px;
  color: #fff;
  background: #2D9C89;
  opacity: 1;
  border-radius: 100%;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 9999; 
}

.lc-to-top:hover {
  background: rgba(45, 156, 137, 0.7); 
}
.icon{
  margin-top: 8px;
}

.lc-to-top:hover,
.lc-to-top:focus {
  color: #fff; 
}
.backtop-top-show {
  bottom: 20px; 
}

/***********************************
 *  Works
 ***********************************/
.work-wrapper img {
  width: 80%;
}

.work-description {
  text-align: justify;
}
.swiper-pagination-bullet {
    opacity: 0.5;
    background-color: #2d9c89;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/***********************************
 *  Footer
 ***********************************/
.copy{
  background:#c9c9ca;
  padding:2em 0;
  text-align:center;
}

.copy p{
  font-size: 1em;
  color: #555;
  font-weight: 500;
}

/***********************************
 *  Responsive design
 ***********************************/

/* 1024PX */
@media (max-width:1024px){
  .header {
    min-height: 570px;
  }

  .header h1 {
    font-size: 3em;
    margin-top: 1em;
  }

  .header h2 {
    font-size: 1.5em;
  }  

  .arrowCta{
    margin: 10em 50% 0;
    height: 20px;
    width: 20px;
  }
  
  .arrowCta:after{
    border-bottom:2px solid #1a2733;
    border-right:2px solid #1a2733; 
  }
  
  .arrowCta:before{
    border-bottom:2px solid #1a2733;
    border-right:2px solid #1a2733; 
  }

}

/* 920PX */
@media (max-width:920px){
  .header h1 {
    font-size: 2.5em;
    margin-top: 1em;
  }

  .header h2 {
    font-size: 1.3em;
  }

  .header p {
    font-size: 0.85em;
  }

  .header {
    min-height: 460px;
  }

  .arrowCta{
    margin: 8em 49% 0;
    height: 15px;
    width: 15px;
  }
  
  .arrowCta:after{
    border-bottom:1px solid #1a2733;
    border-right:1px solid #1a2733; 
  }
  
  .arrowCta:before{
    border-bottom:1px solid #1a2733;
    border-right:1px solid #1a2733; 
  }

  .content-light, .content-dark  {
    padding: 3em 0;
  }

  .tz-title-3 {
    font-size: 28px;
  }

  .content-dark {
    background: #f6f6f6;
  }

  .col-md-3.team-grid {
    width: 50%;
    float: left;
    margin-bottom: 2em;
  }

  .view .mask, .view .content {
    width: 87%;
    height: 100%;
  }

  .content-dark_bottom {
    padding: 3em 0 0 0;
  }

  .box_1 h3 {
    margin: 1em 0 0.5em;
  }

  .col-md-4.box_1 {
    margin-bottom: 2em;
  }

  .work {
    margin-top: 2em;
  }
  ul.span_1 {
    margin: 3em 0 0;
  }  
  .client {
    min-height: 390px;
    padding-top: 3em;
  }
  .col-sm-10 {
    width: 74.333333%;
  }
  .contact {
    margin-bottom: 4em;
  }
}

/* 640 */
@media (max-width:640px){
  .header h1 {
    font-size: 2em;
    margin-top: .5em;
  }
  .header h2 {
    font-size: 1.1em;
  }
  .header p, .content-dark_bottom h4{
    font-size: 0.85em;
    width: 75%;
  }
  .header {
    min-height: 410px;
  }

  .arrowCta{
    margin: 7.5em 49% 0;
    height: 15px;
    width: 15px;
  }
  
  .arrowCta:after{
    border-bottom:1px solid #1a2733;
    border-right:1px solid #1a2733; 
  }
  
  .arrowCta:before{
    border-bottom:1px solid #1a2733;
    border-right:1px solid #1a2733; 
  }

  .content-light p, .content-dark p {
    width: 70%;
  }  
  .view .mask, .view .content {
    width: 100%;
    height: 100%;
  }
  .col-sm-10 {
    width: 100%;
  }
}

/* 480PX */
@media (max-width:480px){
  .arrowCta{
   margin: 7em 49% 0;
   height: 15px;
   width: 15px;
 }

 .arrowCta:after{
   border-bottom:1px solid #1a2733;
   border-right:1px solid #1a2733; 
 }

 .arrowCta:before{
   border-bottom:1px solid #1a2733;
   border-right:1px solid #1a2733; 
 }

 .header h1{
  margin-top: 1em;
}

.header h1 {
  font-size: 1.5em;
}
.header h2 {
  font-size: 0.95em;
}	
.header p, .content-dark_bottom h4 {
  font-size: 0.85em;
  width: 100%;
}
.header {
  min-height: 370px;
}
.header p {
  margin: 2em auto 0;
}
.tz-title-3 {
  font-size: 25px;
  padding: 15px 0;
}
.tz-title-3:after {
  left: 44%;
}  
.content-light p, .content-dark p {
  width: 90%;
}
ul.f_social li {
  margin-right: 0px;
}
.box_1 h3 {
  font-size: 1em;
}
.client {
  min-height: 320px;
}
}
/* 375PX */
@media (max-width:375px){
  .arrowCta{
   margin: 7em 49% 0;
   height: 15px;
   width: 15px;
 }

 .arrowCta:after{
   border-bottom:1px solid #1a2733;
   border-right:1px solid #1a2733; 
 }

 .arrowCta:before{
   border-bottom:1px solid #1a2733;
   border-right:1px solid #1a2733; 
 }

 .header h1 {
  font-size: 1.3em;
  letter-spacing: 5px;
}	
.header h2 {
  font-size: 0.95em;
  letter-spacing: 5px;
}
.header p {
  font-size: 12px;
}

.header {
  min-height: 370px;
}

.header h1{
  margin-top: 1em;
}
.tz-title-3 {
  font-size: 20px;
  padding: 10px 0;
}
.content-light p, .content-dark p {
  width: 90%;
  font-size: 0.85em;
  margin: 0 auto 2em auto;
}
.col-md-3.team-grid{
 padding:0;
}
.copy {
  padding: 1em 0;
}
.copy p {
  font-size: 0.85em;
}  
}

/* 320PX */
@media (max-width:320px){
  .container{
    padding:0 10px;
  }

  .team-grid h3 {
    font-size: 1em;
  }  
  .content-dark{
    padding:3em 0 1em 0;
  }
  .content-light{
    padding: 2em 0;
  }
  .contact {
    margin-bottom: 2em;
  }
  .header {
    width: 100%;
    height: 100%;
  }
  .header h1 {
    margin-bottom: 10px;
  }

  .arrowCta{
    margin: 6em 49% 0;
    height: 15px;
    width: 15px;
  }

  .arrowCta:after{
    border-bottom:1px solid #1a2733;
    border-right:1px solid #1a2733; 

  }

  .arrowCta:before{
    border-bottom:1px solid #1a2733;
    border-right:1px solid #1a2733; 
  }

  .header p {
    margin: 1em auto 0;
  }
  .header h1{
    margin-top: 1em;
  }

  .header {
    min-height: 300px;
    zoom: .90;
  }
}





