h4, h5, h6,
h1, h2, h3 {margin-top: 0;}

ul, ol {margin: 0;}

p {margin: 0;}

html, body{
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
  background: #FFf;
}

body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

hr {
  background-color: #2d9c89;
  color: #2d9c89;
  display: block;
  margin-top:0em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  width: 10em;
}

.hero{
  width: 100%;
  height: 920px;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.hero h1{
	color: #1a2733;
  text-transform: uppercase;
  font-size: calc(24px + 2vw);
  font-weight: 400;
  letter-spacing: 10px;
  margin-bottom:20px;
}

.hero h2{
	color: #1a2733;
  text-transform: uppercase;
  font-size: calc(22px + 1vw);
  font-weight: 400;
  letter-spacing: 10px;
}

.hero p{
  color: #1a2733;
  text-transform: uppercase;
  font-size: calc(12px + 0.5vw);
  font-weight: 400;
  line-height: 1.8em;
  margin: 0 auto;
  width: 80%;
}

.hero .header-arrow {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.hero .list-inline {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero .list-inline a {
  text-decoration: none;
}

.hero .list-inline li {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 10px;
}

.hero .list-inline li .fa{ 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5d5d5d5e;
  color: #262626;
  width: calc(25px + 1vw);
  height: calc(25px + 1vw);
  border-radius: 50%;
  text-align:center;
  font-size: calc(16px + 1vw);
  transition: all .3s ease;
}


.hero .list-inline .fa:hover {
  transition: all .3s ease;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.hero .list-inline .fa.fa-github-alt:hover{
  background:#800080;
  color:#fff;
}
.hero .list-inline .fa.fa-linkedin:hover{
  background:#0083be;
  color:#fff;
}
.hero .list-inline .fa.fa-codepen:hover{
  background:#888;
  color:#fff;
}

.hero .list-inline i {
  color: #333;
}

#about .list-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 25px;
}

#about .list-inline li {
  padding-left: 10px;
  padding-right: 15px;
}

#about .list-inline li a { 
  color: #333;
}

#about .list-inline li a:hover { 
  opacity: 0.5;
}

.title{
  display: block;
  color: #3c3c3c;
  font-size: 35px;
  font-weight:800;
  line-height: 24px;
  margin: 0;
  padding: 24px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*About*/

/********************************************
* ARROW-HEADER                              *
*********************************************
*/
.arrowCta {
  display: block;
  height: 22px;
  width: 22px;
  border: 11px solid transparent;
  transform: rotate(45deg);
  position: relative;
}

.arrowCta:after,
.arrowCta:before {
  content: "";
  display: block;
  height: inherit;
  width: inherit;
  position: absolute;
}

.arrowCta:after {
  border-bottom: 2px solid #1a2733;
  border-right: 2px solid #1a2733;
  top: 0;
  left: 0;
  opacity: 1;
  animation: bottom-arrow 1.65s infinite;
}

@keyframes bottom-arrow {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    transform: translate(12px, 12px);
  }
  46% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }
  90% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
}

.arrowCta:before {
  top: 0;
  left: 0;
  border-bottom: 2px solid #1a2733;
  border-right: 2px solid #1a2733;
  animation: top-arrow 1.65s infinite;
}

@keyframes top-arrow {
  0% {
    transform: translate(-6px, -6px);
  }
  35% {
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.content-light{
  padding:8em 0;
  text-align:center;
} 

.content-light img{
	display:inline-block;
}

.content-light p{
  color: #555;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 100%;
  margin: 0 auto 3em auto;
  text-align: center;
  font-weight: 400;
}
.content-dark p{
  color: #555;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
}

.content-dark {
  padding: 8em 0;
  background:#f6f6f6;
}

.content-dark_bottom h4 {
  color: #555;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 50%;
  margin: 0 auto 3em auto;
  text-align: center;
  font-weight: 400;
}

.content-dark_bottom{
  padding:8em 0 0 0;
}
/***********************************
 *  Skills
 ***********************************/
 .skill-img {
  width: 120px;
  height: 120px;
  padding: 5px;
}
/***********************************
 *  Works
 ***********************************/
 .work-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work-description {
  text-align: center;
}
.swiper-pagination-bullet {
  opacity: 0.5;
  background-color: #2d9c89;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 20px !important;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; 
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide p {
  color: #555;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
}

#swiper2 .swiper-slide {
  padding: 20px;
}
#swiper2 .swiper-slide img {
  width: 100%;
  -webkit-box-shadow: 0px -1px 10px 0px rgba(105,105,105,0.47);
  -moz-box-shadow: 0px -1px 10px 0px rgba(105,105,105,0.47);
  box-shadow: 0px -1px 10px 0px rgba(105,105,105,0.47);
  transition: all .3s ease;
}

#swiper2 .swiper-slide img:hover {
  z-index: 100;
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(105,105,105,1);
  -moz-box-shadow: 0px 8px 20px 0px rgba(105,105,105,1);
  box-shadow: 0px 8px 20px 0px rgba(105,105,105,1);
  transform: translateY(-5px);
}

#swiper3 .testimonials {
  font-size: 26px !important;
  font-weight: bold !important;
  font-style: italic;
}

#swiper3 span {
  color: #333;
  font-size: 22px;
  font-weight: bold;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%232d9c89'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%232d9c89'%2F%3E%3C%2Fsvg%3E");
}
/***********************************
 *  Footer
 ***********************************/
 .copy{
  background:#c9c9ca;
  padding:2em 0;
  text-align:center;
}

.copy p{
  font-size: 1em;
  color: #555;
  font-weight: 500;
}


.lc-to-top {
  position: fixed;
  bottom: -100%;
  right: 20px;
  width: 40px;
  font-size: 20px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #2D9C89;
  opacity: 1;
  border-radius: 100%;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 9999; 
}

.lc-to-top:hover {
  background: rgba(45, 156, 137, 0.7); 
}
.icon{
  margin-top: 8px;
}

.lc-to-top:hover,
.lc-to-top:focus {
  color: #fff; 
}
.backtop-top-show {
  bottom: 10px; 
}


/******************************************
 *  RESPONSIVE DESIGN  (Mobile First)    *
 ******************************************/

  /* 
  ## 320PX - 480PX
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 320px to 480px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    .hero{
      background-image: url(../images/banner_mobile.jpg);
      height: 100vh;
      width: 100%;
    }

    .hero .container {
      padding-top: calc(80px + 3vw);
    }

    .hero h1 {
      font-size: calc(22px + 0.2vw);
      font-weight: 600;
      letter-spacing: 6px;
    }

    .hero h2 {
      font-size: calc(16px + 0.2vw);
      font-weight: 600;
      letter-spacing: 4px;
    }

    .hero p {
      font-size: calc(12px + 0.2vw);
    }
    #about .list-inline {
      margin-right: 0px;
    }

    #swiper3 .testimonials {
      font-size: 1.2em !important;
    }

    #swiper3 span {
      font-size: 1em;
    }
  }

/* 
  ## 481 - 767PX
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 481px) and (max-width: 767px) {

    #about .list-inline {
      margin-right: 0px;
    }

    #swiper3 .testimonials {
      font-size: 1.2em !important;
    }

    #swiper3 span {
      font-size: 1em;
    }
  }

  /* 
  ## 768PX - 1024PX
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  }

  /* 
  ## 768PX - 1024PX
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
  }

  /* 
  ## 1025PX - 1280PX
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {
  }



/* 
  ## 1281PX and More
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */

  @media (min-width: 1281px) {
  }















